* {
    margin: 0;
    padding: 0;
}

#container {
    width: 1000px;
    margin: 0 auto;
}

header {
    background-color: Red;
}

h1 {
    width: 1000px;
    margin: 0 auto;
    font-family: 'Comfortaa', cursive;
    font-size: 3em;
    color:white;
    padding: .5em 0 1.5em 0;
}

nav {
    padding: 1em 0 5em 0;
}

nav a {
    margin-right: 1em;
    font-size:1.4em;
    text-decoration: none;
    color:red;
    text-transform: uppercase;
    font-family: 'Comfortaa', cursive;
}

nav a:hover {
    color:black;
    font-weight: bold;
}

p {
    font-size: 1.2em;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

#titles {
    font-size: 3em;
    padding-bottom: .5em;
}

figure {
    float: left;
    padding-right: 10px;
}

#main {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: 0 auto;
}

.favorite {
    font-weight: bold;
}

#source {
    font-size: 1.2em;
    color: black;
}

#source:hover {
    color:red;
}

#adcc {
    float: left;
    padding-right: 10px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 2em 0 2em 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}